<!-- Footer -->
<footer role="contentinfo">
  <ul class="social-media-list">
    <li class="social-media-item">
      <a href="https://github.com/PhotonicGluon" title="Link to GitHub">
        <img src="/assets/vendors/img/github-mark-white.svg" alt="GitHub Logo">
      </a>
    </li>
    <li class="social-media-item">
      <a href="https://melodicgluon.bandcamp.com/" title="Link to Bandcamp">
        <img src="/assets/vendors/img/bandcamp-button-circle-line-white-256.png" alt="Bandcamp Logo">
      </a>
    </li>
    <li class="social-media-item">
      <a href="https://www.linkedin.com/in/kan-onn-kit" title="Link to LinkedIn">
        <img src="/assets/vendors/img/LI-In-Bug.png" alt="LinkedIn Logo">
      </a>
    </li>
  </ul>
  <span class="copyright">
        Copyright © {{ site.time | date: "%Y" }} PhotonicGluon
    </span>
  <br>
  <span class="available-on-github">
        Overwrite's source code is available on <a href="https://github.com/PhotonicGluon/photonicgluon.github.io">GitHub</a>.
    </span>
</footer>

<!-- Back-to-top button -->
<a href="#hero-box" id="back-to-top" title="Back to top" style="visibility: hidden">
  <img src="/assets/resources/img/arrow-up.svg" alt="Up Arrow">
</a>
