<nav>
    <a href="/">
        <img src="/assets/resources/img/Icon.webp" alt="Overwrite Logo" class="logo">
    </a>
    <div class="main-nav" id="main-nav">
        <a id="mobile-nav-button-close">
            <img src="/assets/resources/img/window-close.svg" alt="Close Menu">
        </a>
        <ul class="main-nav-list">
            <li class="dropdown">
                <a href="/projects" class="dropdown-button">Projects</a>
                <ul class="dropdown-content">
                    <li><a href="/projects?filter=programming">Programming</a></li>
                    <li><a href="/projects?filter=mathematics">Mathematics</a></li>
                    <li><a href="/projects?filter=music">Music</a></li>
                    <li><a href="/projects?filter=writing">Writing</a></li>
                </ul>
            </li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About Me</a></li>
        </ul>
    </div>
    <a id="mobile-nav-button-open">
        <img src="/assets/resources/img/hamburger-menu.svg" alt="Open Menu">
    </a>
</nav>
