/* MAIN STYLING */
/* Basic Styling */
html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 1px;
}

.row {
    max-width: 1180px;
    margin: 0 auto;
}

/* HERO BOX */
header {
    background-image: url("../img/header-background.webp");
    height: max(600px, 100vh);
}

.hero-box-background-overlay {
    background: linear-gradient(
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 0.75) 80%,
            rgba(0, 0, 0, 1) 100%
    ) center;
    height: max(600px, 100vh);
    width: 100%;
}

header h1, header h2 {
    text-align: left;
}

header h1 {
    font-size: 72pt;
}

.hero-box {
    position: absolute;
    width: 100%;
    top: max(300px, 50%);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1180px;
    margin: 0 auto;
    color: white;
}

.hero-box-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 21pt;
}

.hero-box-text span {
    margin: 1.5rem 0 3.5rem;
}

.get-in-touch-button {
    background-color: var(--purple);
    transition: all 0.2s;
    font-size: 18pt;
}

.get-in-touch-button:hover {
    background: transparent;
}

.get-in-touch-button::after {
    display: none;
}

/* FEATURED PROJECTS */
.featured-projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 equal-width columns */
    grid-column-gap: 5px;
    grid-row-gap: 50px;
}

.featured-projects-heading, .featured-col > h2 {
    text-align: center;
    text-decoration: underline;
}

.featured-projects-heading {
    font-weight: bold;
}

.featured-entry {
    text-align: center;
}

.featured-entry a {
    text-decoration: none;
    color: inherit;
}

.featured-entry a:hover {
    color: inherit;
}

.featured-entry-image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 300px;
}

.featured-entry-image img {
    border-radius: 20px;
    max-width: 90%;
    max-height: 300px;
}

.project-tags {
    padding-top: 5px;
}

.project-tag {
    display: inline-block;
    font-size: 12pt;
    padding: 5px;
    width: 100px;
    border-radius: 10px;

    background-color: var(--tag-background-colour);
    border: 1px solid var(--tag-border-colour);
}

/* GET IN TOUCH */
#get-in-touch > h1 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/* QUERIES */
@media (max-width: 1200px) {
    .hero-box-text {
        padding: 0 5%;
    }

    .featured-projects {
        grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 equal-width columns */
    }
}

@media (max-width: 1024px) {
    .featured-projects {
        grid-template-columns: 1fr;
    }

    .featured-entry-image {
        height: 100%;
        margin: 5px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 48pt;
    }
}
