/* IMPORT FONTS */
@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/odin-light.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/odin-lightitalic.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/odin-normal.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/odin-italic.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/odin-bold.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/odin-bolditalic.otf");
}

/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    text-rendering: optimizeLegibility;
    font-size: 16pt;
    text-align: justify;
    font-family: "Jost", "Arial", sans-serif;
    color: var(--white-primary);
    scroll-behavior: smooth;
    background-color: black;
}

:root {
    /* Colours */
    --purple: rgb(98, 71, 170);
    --light-purple: rgb(160, 108, 213);
    --very-light-purple: rgb(226, 207, 234);

    --green: rgb(80, 120, 80);
    --blue: rgb(15, 115, 170);
    --dark-grey: rgb(50, 50, 50);

    --white-primary: rgb(240, 240, 240);
    --white-secondary: rgba(220, 220, 220, 0.8);

    /* Formatting */
    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;

    --gutter-huge: 120px;
    --gutter-medium: 60px;
    --gutter-normal: 30px;
    --gutter-small-1: 25px;
    --gutter-small: 20px;
}

section {
    padding-bottom: var(--gutter-medium);
    border-bottom: 1px solid var(--dark-grey);
    width: 90%;
    margin: auto;
}

/* Button styling */
.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    color: inherit;
    border: 1px solid var(--purple);
}

.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white-primary);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.7, 0.4, 0.9);
}

.button:hover, .button:visited, .button:visited:hover {
    color: inherit;
}

.button:hover::after {
    right: 0;
    background: var(--purple);
}

/* Header styling */
h1, h2, h3 {
    font-weight: normal;
    padding-bottom: 10px;
}

/* Text styling */
p, span {
    font-size: inherit;
}

p {
    line-height: 135%;
    padding-bottom: 10px;
    text-align: justify;
}

ul {
    list-style-type: disc;
    margin-block-start: 10px;
    margin-block-end: 10px;
    padding-inline-start: 40px;
}

/* Hyperlink styling */
a {
    color: rgb(148, 179, 242);
    transition: all 0.2s;
}

a:hover {
    color: rgb(82, 129, 224);
}

a:visited {
    color: rgb(145, 103, 228);
}

a:visited:hover {
    color: rgb(113, 60, 221);
}

/* Miscellaneous styling */
.image-wrapper {
    overflow-x: scroll;
}

select {
    border-radius: 10px;
}

/* NAVBAR */
nav {
    max-width: 90%;
    margin: 0 auto;
}

.logo {
    border-radius: 15px;
    margin-top: 30px;
    height: 60px;
    width: auto;
    float: left;
}

.main-nav {
    margin-top: 30px;
    float: right;
}

.main-nav-list {
    list-style: none;
}

.main-nav-list li {
    display: inline-block;
    text-align: left;
    font-size: 16pt;
}

.main-nav-list li:not(:last-of-type) {
    width: 150px;
}

.main-nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-secondary);
    transition: all 0.2s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-content {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    display: block;
    padding: 0;
}

.dropdown-content li a {
    text-transform: capitalize;
    font-size: 14pt;
}

.dropdown:hover .dropdown-content {
    height: inherit;
    visibility: visible;
    opacity: 1;
}

.main-nav-list li a:hover, .dropdown-content li a:hover {
    color: var(--white-primary);
}

#mobile-nav-button-open, #mobile-nav-button-close {
    display: none;
}

/* HERO BOX */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../img/header-background.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    background-attachment: fixed;
    color: var(--white-secondary);
}

header h1, header h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1px;
}

header h1 {
    font-size: 36pt;
}

.hero-box {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

/* PROJECT TAGS */
.project-tag {
    /* Default colours */
    --tag-border-colour: var(--light-purple);
    --tag-background-colour: rgba(160, 108, 213, 0.5); /* Light purple with alpha */
}

/* FOOTER */
footer {
    text-align: center;
    margin: 30px 0 50px 0;
}

.social-media-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0;
}

.social-media-item:not(:last-of-type) {
    margin-right: 20px;
}

.social-media-item img {
    height: 40px;
}

.copyright {
    font-size: 12pt;
}

/* MISCELLANEOUS */
#back-to-top {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 64px;
    width: 64px;
    align-content: center;
    justify-content: center;
    background-color: var(--light-purple);
    transition: all 0.2s;
    border-radius: 50%;
}

#back-to-top:hover {
    background-color: var(--purple);
}

#back-to-top img {
    height: 75%;
}

/* QUERIES */
@media (max-width: 768px) {
    section {
        width: 85%;
    }

    .button::after {
        right: 0;
        background: transparent;
        transition: all 0.2s;
    }

    .main-nav {
        position: fixed;
        margin-top: 0;
        padding-top: 30px;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: black;
        width: 0;
        overflow-x: hidden;
        direction: rtl;
        height: 100%;
        transition: all 0.5s;
        text-align: left;
    }

    .main-nav-list {
        display: block;
        margin: 50px 0 0 0;
    }

    .main-nav-list li {
        font-size: 24pt;
        width: 100% !important;
        text-align: right;
        margin-bottom: 25px;
    }

    #mobile-nav-button-open {
        display: block;
        float: right;
        margin-top: 30px;
        cursor: pointer;
        z-index: 2;
    }

    #mobile-nav-button-close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    #mobile-nav-button-open, #mobile-nav-button-open img, #mobile-nav-button-close, #mobile-nav-button-close img {
        height: 40px;
    }

    #mobile-nav-button-close img {
        text-align: right;
    }

    .dropdown .dropdown-content {
        height: 100%;
        visibility: visible;
        opacity: 1;
    }

    .dropdown-content li {
        margin: 5px 0 0 0;
    }

    .dropdown-content li a {
        font-size: 20pt;
    }

    #back-to-top {
        display: none;
    }
}

@media (max-width: 425px) {
    header h1 {
        font-size: 32pt;
    }
}
