/* IMPORT FONTS */
@font-face {
    font-family: "CMU Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cmun-normal.ttf");
}

@font-face {
    font-family: "CMU Serif";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cmun-bold.ttf");
}

@font-face {
    font-family: "CMU Serif";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/cmun-italic.ttf");
}

@font-face {
    font-family: "CMU Serif";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/cmun-bolditalic.ttf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/odin-light.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/odin-lightitalic.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/odin-normal.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/odin-italic.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/odin-bold.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/odin-bolditalic.otf");
}

/* GENERAL STYLING */
html {
    text-rendering: optimizeLegibility;
    font-size: 16pt;
    font-family: "Jost", "Arial", sans-serif;
    color: var(--white-primary);
    scroll-behavior: smooth;
    background-color: black;
}

:root {
    /* Colours */
    --purple: rgb(98, 71, 170);
    --light-purple: rgb(160, 108, 213);
    --very-light-purple: rgb(226, 207, 234);

    --dark-green: rgb(6, 39, 38);
    --dark-blue: rgb(16, 43, 63);
    --dark-grey: rgb(50, 50, 50);

    --white-primary: rgb(240, 240, 240);
    --white-secondary: rgba(220, 220, 220, 0.8);

    /* Formatting */
    --font-size-small: 12pt;
    --font-size-normal: 16pt;
    --font-size-medium: 21pt;
    --font-size-large: 42pt;
    --font-size-huge: 56pt;

    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;

    --gutter-huge: 120px;
    --gutter-medium: 60px;
    --gutter-normal: 30px;
    --gutter-small-1: 25px;
    --gutter-small: 20px;
}

section {
    padding-bottom: var(--gutter-medium);
    border-bottom: 1px solid var(--dark-grey);
}

/* Button styling */
.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    color: inherit;
    border: 1px solid var(--purple);
}

.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white-primary);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.7, 0.4, 0.9);
}

.button:hover::after {
    right: 0;
    background: var(--purple);
}

/* Header styling */
h1, h2, h3 {
    font-weight: normal;
    padding-bottom: 10px;
}

/* Text styling */
p, span {
    font-size: inherit;
}

p {
    line-height: 135%;
    padding-bottom: 10px;
}

/* CONTAINER STYLING */
.grid-container {
    display: grid;
}

/* NAVBAR */
nav {
    max-width: 90%;
    margin: 0 auto;
}

.logo {
    border-radius: 15px;
    margin-top: 30px;
    height: 60px;
    width: auto;
    float: left;
}

.main-nav, .main-nav ul {
    list-style: none;
}

.main-nav {
    margin-top: 30px;
    float: right;
}

.main-nav li {
    display: inline-block;
    text-align: left;
    font-size: 16pt;
}

.main-nav li:not(:last-of-type) {
    width: 150px;
}

.main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-secondary);
    transition: all 0.2s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-content {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.dropdown-content li a {
    text-transform: capitalize;
    font-size: 14pt;
}

.dropdown:hover .dropdown-content {
    height: inherit;
    visibility: visible;
    opacity: 1;
    display: block;
}

.main-nav li a:hover, .dropdown-content li a:hover {
    color: var(--white-primary);
}
