/* IMPORT FONTS */
@font-face {
    font-family: "CMU Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cmun-normal.ttf");
}

@font-face {
    font-family: "CMU Serif";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cmun-bold.ttf");
}

@font-face {
    font-family: "CMU Serif";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/cmun-italic.ttf");
}

@font-face {
    font-family: "CMU Serif";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/cmun-bolditalic.ttf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/odin-light.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/odin-lightitalic.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/odin-normal.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/odin-italic.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/odin-bold.otf");
}

@font-face {
    font-family: "Odin Rounded";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/odin-bolditalic.otf");
}

/* GENERAL STYLING */
html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-family: "Jost", "Arial", sans-serif;
    color: var(--white-primary);
    scroll-behavior: smooth;
    background-color: black;
}

:root {
    /* Colours */
    --purple: rgb(98, 71, 170);
    --light-purple: rgb(160, 108, 213);
    --near-white-purple: rgb(226, 207, 234);

    --dark-green: rgb(6, 39, 38);
    --dark-blue: rgb(16, 43, 63);

    --white-primary: rgb(240, 240, 240);
    --white-secondary: rgba(230, 230, 230, 0.85);

    /* Formatting */
    --font-size-small: 12pt;
    --font-size-normal: 16pt;
    --font-size-medium: 21pt;
    --font-size-large: 42pt;
    --font-size-huge: 56pt;

    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;

    --gutter-huge: 120px;
    --gutter-medium: 60px;
    --gutter-normal: 30px;
    --gutter-small-1: 25px;
    --gutter-small: 20px;
}

/* Button styling */
.button {
    text-decoration: none;
    padding: 2px 10px;
    color: inherit;
    border: 1px solid var(--light-purple);
}

.button:hover::after,
.button:focus::after {
    right: 0;
    background: var(--light-purple);
}

/* Header styling */
h1, h2, h3 {
    font-weight: normal;
    padding-bottom: 10px;
}

/* CONTAINER STYLING */
.grid-container {
    display: grid;
}