/* HERO BOX */
#hero-box-project-duration {
    font-size: 16pt;
}

/* PROJECT DETAILS */
#project-banner-image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    height: 400px;
}

#project-banner-image img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

#project-tags {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-tag {
    display: inline-block;
    text-align: center;
    font-size: 12pt;
    padding: 5px;
    margin: 10px 5px;
    width: 100px;
    border-radius: 10px;

    background-color: var(--tag-background-colour);
    border: 1px solid var(--tag-border-colour);
}

#project-links {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

#project-links li:not(:last-of-type) {
    margin-right: 20px;
}

#project-links img {
    height: 40px;
}

/* QUERIES */
@media (max-width: 768px) {
    header {
        height: 300px;
    }

    .hero-box {
        top: 150px;
    }
}

@media (max-width: 425px) {
    header {
        height: 100vh;
    }

    .hero-box {
        top: 50vh;
    }

    #hero-box-project-duration span {
        display: block;
    }

    #project-banner-image {
        height: 100%;
    }
}
