/* PROJECTS FILTER */
.filter-section {
    width: 90%;
    margin: 15px auto 10px auto;
}

.filter-section span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.filter-options-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 20px;
}

.filter-option {
    display: flex;
    justify-content: center;
}

.filter-option label {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 10px;
}

/* PROJECTS LIST */
#projects-list {
    list-style: none;
    padding-inline-start: 0;
}

#projects-list li {
    margin-bottom: 20px;
}

.project-entry {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 20px;
}

.project-entry-image, .project-entry-description {
    height: 200px;
}

.project-entry-image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.project-entry-image img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

.project-name, .project-tag {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
}

.project-entry-description-head {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.project-name {
    font-weight: bold;
    font-size: 20pt;
    margin-right: 25px;
}

.project-tags {
    margin-left: -5px; /* Because the first project tag needs to be aligned correctly */
    height: 40px;
    display: flex;
}

.project-tag {
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 14pt;
    padding: 10px;
    margin-left: 5px;
    height: 10px;
    border-radius: 10px;

    background-color: var(--tag-background-colour);
    border: 1px solid var(--tag-border-colour);
}

.project-date {
    font-size: 12pt;
}

.project-summary {
    display: block;
    margin: 15px 0;
}

.project-buttons a:not(:last-of-type) {
    margin-right: 10px;
}

.project-button-read-more {
    border: 1px solid var(--blue);
}

.project-button-read-more:hover::after {
    background-color: var(--blue);
}

.project-button-website {
    border: 1px solid var(--green);
}

.project-button-website:hover::after {
    background-color: var(--green);
}

/* QUERIES */
@media (max-width: 1024px) {
    #projects-list li:not(:last-of-type) {
        margin-bottom: 50px;
    }

    .project-entry {
        grid-template-columns: auto;
    }

    .project-entry-image {
        margin-bottom: 10px;
    }

    .project-entry-image, .project-entry-description {
        min-height: 200px;
    }

    .project-entry-description, .project-entry-description-head {
        height: inherit;
    }

    .project-name {
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-right: 0;
        height: inherit;
    }

    .project-tags {
        width: 100%;
        justify-content: center;
    }

    .project-date {
        display: block;
        text-align: center;
        width: 100%;
    }

    .project-summary {
        display: block;
        width: 100%;
        text-align: center;
    }

    .project-buttons {
        display: flex;
        justify-content: center;
    }
}
